<div class="mt-4">
    <form method="post", action="/news">
        <div class="form-group">
            <label for="search-input">Enter keyword</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="nhap tu khoa">            
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>